/* You can add global styles to this file, and also import other style files */

.bodyHome{
  height: 100vh;
}
.bodyHome{
  font: 500 1,6rem Poppins;
  display: flex;
  
}
#container{
  width: 90vw;
  max-width: 700px;
}

@media(min-width:700px){
  :root{
    font-size:62.5%;
  }
}