<app-header></app-header>
<div id="body">
  <main>
    <section>
      <div class="historico-diarios-content">
        <div id="historico-diarios"></div>
      </div>
    </section>

    <section [ngStyle]="{'display': usuario === 'Paciente' ? 'none' : 'block'}">
      <div id="sobre-paciente-container">
        <h2>Sobre o paciente:</h2>
        <div class="textarea-container">
          <textarea id="sobre-paciente-texto" placeholder="O paciente..."></textarea>
        </div>

      </div>
    </section>

    <hr [ngStyle]="{'display': usuario === 'Paciente' ? 'none' : 'block'}" class="dashed-line"/>

    <section>
      <div id="content">
        <div id="emocoes-container">
          <h2>Como o paciente está se sentindo:</h2>

          <div class="emocao-container">
            <input id="emocao-input1" type="range" min="0" max="100" value="0" (click)="alterarEmocao($event)">
            <div id="emocao-input-range1" class="emocao-input-range"></div>
            <img src="../../../assets/emocao-example.svg"/>
            <h3>Emoção 1</h3>
          </div>

          <div class="emocao-container">
            <input id="emocao-input2" type="range" min="0" max="100" value="0" (click)="alterarEmocao($event)">
            <div id="emocao-input-range2" class="emocao-input-range"></div>
            <img src="../../../assets/emocao-example.svg"/>
            <h3>Emoção 2</h3>
          </div>
          
          <div class="emocao-container">
            <input id="emocao-input3" type="range" min="0" max="100" value="0" (click)="alterarEmocao($event)">
            <div id="emocao-input-range3" class="emocao-input-range"></div>
            <img src="../../../../assets/emocao-example.svg"/>
            <h3>Emoção 3</h3>
          </div>

          <div class="emocao-container">
            <input id="emocao-input4" type="range" min="0" max="100" value="0" (click)="alterarEmocao($event)">
            <div id="emocao-input-range4" class="emocao-input-range"></div>
            <img src="../../../assets/emocao-example.svg"/>
            <h3>Emoção 4</h3>
          </div>

          <div class="emocao-container">
            <input id="emocao-input5" type="range" min="0" max="100" value="0" (click)="alterarEmocao($event)">
            <div id="emocao-input-range5" class="emocao-input-range"></div>
            <img src="../../../assets/emocao-example.svg"/>
            <h3>Emoção 5</h3>
          </div>
        </div>

        <div id="notas-container">
          <h2>Contando um pouco mais:</h2>
          <div class="textarea-container">
            <textarea
              id="notas-texto"
              placeholder="Hoje estou me sentindo..."
              (change)="alterarEstadoTexto($event)"
            >
            </textarea>
          </div>
        </div>
      </div>
    </section>

    <section [ngStyle]="{'display': usuario == 'Paciente' ? 'none' : 'block'}">
      <div id="psicologo-comentarios-container">
        <h2>Comentários do psicólogo:</h2>
        <div class="textarea-container">
          <textarea id="psicologo-comentarios-texto" placeholder="O paciente..."></textarea>
        </div>
      </div>
    </section>

    <button class="material-icons" id="save-button" (click)="salvarDiario()">
      save
    </button>
  </main>
</div>

 
