<div class="bodyHome">
  <div id="container">
    <!--Conteudo do topo da home page-->
    <div class="header-container">
      <div id="logo">
        <img src="../../assets/logo.svg" alt="Logo PsicoLogar">
        <h1>PsicoLogar</h1>
      </div>
      <div class="buttons-container">
        <a class="btn-Login" (click)="abrirModalLogin()">Entrar</a>
        <a class="btn-Singup" (click)="goToPagCadastro()">Cadastrar</a>
      </div>
    </div>
     <!--Conteudo do corpo da home page-->
    <div class="body-container">
      <h2 class="titulo"> <span>Meu Diário</span> Psicológico</h2>
        <div class="img-home">
          <img src="../../assets/pghome.jpg" alt="Consulta">
        </div>
        <p class="sobre">
           <span>Seja Bem-Vindo<br></span> 
            Mantenha seus acontecimentos anotados, prontos para uma reflexão diária.<br> 
            Tenha suas emoções nomeadas e prontas para análise.<br>
            Mantenha seu psicológo a parte de todos os acontecimentos do seu dia.
        </p>
    </div> 
       
  </div>
</div>
  <!--Conteudo do modal login-->
  <div class="modal_login_overlay" id="modal_login_overlay" (click)="fecharModalLogin()">
  </div>
  <div class="modal_login" id="modal_login">
    <button class="closer" (click)="fecharModalLogin()">X</button>
    <div class="titulo_modal_login">Entre no seu Diário</div>

    <form class="formulario_login" [formGroup]="form" (ngSubmit)="submit()">
      <div class="email_senha">
        <input type="text" placeholder="Login" formControlName="email">
      </div>
      <div class="email_senha">
        <input type="password"  placeholder="Senha" formControlName="senha">
      </div>
      <button class="botao_salvar" type="submit">Entrar</button>
    </form>
    
    <a class="link_cadastro" (click)="goToPagCadastro()">Esqueci minha senha</a>
  </div>



