<div id="header">
  <span id="logo"> PsicoLogar </span>
  <div id="menu_container" [ngStyle]="{'display': openMenu ? 'block' : 'none'}" (click)="handleMenu()"></div>
  <div class="navigation">
    <button (click)="handleMenu()">
      <img id="profile_image" src="{{currentUser.foto}}">
    </button>
  </div>
</div>

<div id="menu_content" (blur)="handleMenu()" [ngStyle]="{'right': openMenu ? '0px' : '-20vw'}">
  <div class="menu_header">
    <span class="material-icons" id="close-menu-icon" (click)="handleMenu()" style="cursor: pointer;">
      close
    </span>
    <span class="menu_title" style="padding-top: 40px;">
      {{ currentUser.nome }}
    </span>
    <img id="profile_image" src="{{currentUser.foto}}">
  </div>
  <ul style="list-style-type: none; padding-top: 24px;" id="menu_options">
    <li> <a [routerLink]="['/perfil']"> Meu Perfil </a> </li>
    <li> <a (click)="logout()"> Sair </a> </li>
  </ul>
</div>