<div id="header">
  <span id="logo"> PsicoLogar </span>
  <div id="menu_container" [ngStyle]="{'display': openMenu ? 'block' : 'none'}" (click)="handleMenu()"></div>
  <div class="navigation">
    <button (click)="handleMenu()">
      <img id="profile_image" src="{{ currentUser.foto == null ? '../../../../../assets/UserGenerico.png' : currentUser.foto }}">
    </button>
  </div>
</div>

<div id="menu_content" (blur)="handleMenu()" [ngStyle]="{'right': openMenu ? '0px' : '-20vw'}">
  <div class="menu_header">
    <div>Minha Conta</div>
    <span class="material-icons" id="close-menu-icon" (click)="handleMenu()" style="cursor: pointer;">
      close
    </span>
  </div>
  <div class="menu_sub_header">
    <span class="menu_title">
      {{ currentUser.nome }}
    </span>
    <img id="profile_image" src="{{ currentUser.foto == null ? '../../../../../assets/UserGenerico.png' : currentUser.foto }}">
  </div>
  <ul style="list-style-type: none;" id="menu_options">
    <li> <a class="menu_item" [routerLink]="['/perfil']"> Meu Perfil </a> </li>
    <li> <a class="menu_item" [ngStyle]="{'display': usuario === 'Paciente' ? 'none' : 'block'}" [routerLink]="['/listaPacientes']">Lista De Pacientes </a> </li>
    <li> <a class="menu_item" [ngStyle]="{'display': usuario === 'Psicologo' ? 'none' : 'block'}"(click)="irParaDiarios()"> Meu Diario </a> </li>
    <li> <a class="menu_item" (click)="logout()"> Sair </a> </li>
  </ul>
</div>