.header-container{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-top: 1.5rem;
  padding-left: 16px;
}
#logo{
  font-size: 38px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #fbfbfb;
  margin-top: 0.8rem;
  margin-left: 0.6rem;
}

button{
  cursor: pointer;
}

.buttons-container{
  display: flex;
  align-items: center;
  text-align: center;
}
.buttons-container a{
  width: 10rem;
  height: 2.5rem;
  padding-top: 0.1rem;
  margin-right: 2rem;
  border: 1px solid #00285C;
  border-radius: .8rem;
  font: 500 1.8rem Archivo;
  text-decoration: none;
  transition: background 0.2s;
}
.buttons-container a.btn-Login{
  color:#3E3C3C;
  background: #fbfbfb;
}
.buttons-container a.btn-Login:hover{
  color:#fbfbfb;
  background: #fbfbfb98;
  cursor: pointer;
}
.buttons-container a.btn-Singup{
  color:#fbfbfb;
  background: #016573;
}
.buttons-container a.btn-Singup:hover{
  color:#3E3C3C;
  background: #01667300;
  cursor: pointer;
}
.body-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.titulo{
  font: 500 4.2rem Rokkitt;
  margin-left: 3.1rem;
  margin-top:8rem;
  color:#012327;
}
.titulo span{
  color:#fbfbfb
}
.img-home{
  margin-top:3.5rem;
  margin-left: 3.5rem;
  margin-bottom: 3.5rem;
}
.img-home img{
  width: 450px;
}
.sobre{
  text-justify: distribute;
  font: 500 1.5rem Poppins;
  color:#012327;
  margin-left: 3.5rem;
}
.sobre span{
  text-align: center;
  font: 500 2rem Poppins;
  color:#fbfbfb;
}

@media(min-width:1100px){
  #container{
    max-width: 1100px;
  }
  .header-container p{
    font: 700 3rem Poppins;
    margin-left: 1.5rem;
  }
  .buttons-container a{
    padding-top: 0.6rem;
    width: 18rem;
    height: 4rem;
    font: 500 2rem Archivo;
  }
  .body-container{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 350px 1fr;
    grid-template-areas: 
    "titu  imagem"
    "sobre  imagem";
    column-gap: 87px;
    row-gap:86px;
  }
  .titulo{
    grid-area:titu;
    margin-left: 6rem;
    margin-top:8rem;
    font: 500 8rem Rokkitt;
  }
  .img-home{
    grid-area: imagem;
    margin-top:8rem;
    margin-left: 16rem;
    margin-bottom: 0rem;
  }
  .img-home img{
      width:650px
  }
  .sobre{
    line-height: 1rem;
    grid-area:sobre;
    font: 500 2rem Poppins;
    text-align: justify;
    margin-top:-15rem;
  }
  .sobre span{
    font: 500 3rem Poppins;
  }
}