.footer {
    padding: 1%;
    margin-top: 5%;
    background-color: #fbfbfb;
    text-align: center;
    width: 100%;
}

#logo {
    font-size: 18px;
}

.copyright {
    margin-top: 1%;
    font-size: 14px;
}