.header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
  background-color: #fbfbfb;
}
#logo{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #3E3C3C;
 margin-right: 1%;
}

.button-container{
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 0.3%;
}

.button-container a img{
  width: 7%;
}

#body-formulario {
  width: 70%;
  height: 100%;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  padding: 2%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.userFoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-user {
  width: 20%;
}

.userFoto label {
  width: 35%;
  height: 2%;
  margin-top: 2%;
  text-align: center;
  color: #050505;
  background: #fbfbfb;
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-decoration: none;
  transition: background 0.2s;
}

.userFoto label:hover {
  color: #fbfbfb;
  background: #fbfbfb98;
  cursor: pointer;
}

.userDados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 3%;
}

.inputField {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 70%;
  margin-top: 2%;
}

.inputField input, select {
  width: 80%;
  height: 30px;
}

input, select {
  background: rgba(255, 255, 255, 0.16);
  color: #fbfbfb;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  padding: 1%;
}

.inputField label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fbfbfb;
  margin-right: 2%;
}

.opcao {
  color: black;
  background-color: #fbfbfb;
}

.inputRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 2%;
}

.inputRadio label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fbfbfb;
  margin-right: 2%;
}

.inputRadio .btnRadio {
  margin-right: 3%;
}

.hidden {
  display: none;
}

.btn-cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-cadastrar a {
  width: 35%;
  height: 2%;
  margin-top: 2%;
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-decoration: none;
  transition: background 0.2s;
}

.btn-cadastrar .btn-salvar {
  color: #050505;
  background: #fbfbfb;
}

.btn-cadastrar .btn-salvar:hover {
  color: #fbfbfb;
  background: #fbfbfb98;
  cursor: pointer;
}