.header-container{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-left: 16px;
  background-color: snow;
}
#logo{
  font-size: 38px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #3E3C3C;
 margin-right: 2rem;
}
button{
  cursor: pointer;
}
.buttons-container{
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 0.3rem;
}

.buttons-container a img{
  width: 4rem;
}
.body-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#body-formulario{
    width: 90vw;
    height: 90vh;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    margin-top: 1.1rem;
    margin-left: 78rem;
}

.userFoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.userFoto img{
  width: 18rem;
}
.userFoto label{
  margin-top: 0.2rem;
  background-color: transparent;
  color: aliceblue;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Poppins';
  cursor: pointer;
}
.userDados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 1.5rem;
}

.inputField{
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100rem;
  margin-top: 1.5rem;
}
.inputField input, select{
  width: 80%;
  height: 30px;
}
input, select{
  background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
}
.inputField label{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
.opcao {
  color: black;
}
.inputRadio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rem;
  margin-top: 1rem;
}
.inputRadio label{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 1.5rem;
}
.inputRadio .radioPsicologo{
  margin-right: 2rem;
}
.hidden {
  display: none;
}
.btn-cadastrar{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-cadastrar a{
  width: 25rem;
  height: 3.5rem;
  padding-top: 0.6rem;
  margin-top: 2rem;
  border: 1px solid #00285C;
  border-radius: .8rem;
  font: 500 1.8rem Archivo;
  text-decoration: none;
  transition: background 0.2s;
}
.btn-cadastrar a.btn-salvar{
  color:#3E3C3C;
  background: #fbfbfb;
}
.btn-cadastrar a.btn-salvar:hover{
  color:#fbfbfb;
  background: #fbfbfb98;
  cursor: pointer;
}


