::ng-deep .item_lista_container {   
    margin: 20px 0 20px 85px;

    width: 1100px;
    height: 65px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.16);

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
}
::ng-deep .item_lista_overlay {
    width: 1100px;
    height: 65px;

    background-color: white;
    opacity: 0%;

    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 10;

    border-radius: 10px;
}
::ng-deep .item_lista_overlay:hover {
    opacity: 20%;
    cursor: pointer;
}
::ng-deep .indicador_emocao {     
    width: 10px;
    height: 65px;

    border: none;
    border-radius: 10px 0 0 10px;
} 
::ng-deep .emocao_ruim {   
    background-color: #BE5959;
}
::ng-deep .emocao_neutra {   
    background-color: #BCB858;
}
::ng-deep .emocao_boa {   
    background-color: #235BB0;
}
::ng-deep .foto_paciente_lista {
    width: 54px;
    height: 54px;

    border-radius: 54px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;

    margin-left: 40px;
}
::ng-deep .nome_paciente_lista{
    width: 420px;

    font-size: 18px;
    color: white;
    font-family: "Poppins";
    
    margin-left: 44px;
}
::ng-deep .agenda_semanal_paciente{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 10px;
}
::ng-deep .dia_semana_consulta{
    width: 54px;
    height: 48px;

    border-radius: 10px;
    background-color:#26838E;

    margin-left: 20px;

    display: flex;
    align-items: center;

    font-size: 14px;
    color: white;
    font-family: "Poppins";

    position: relative;
}
::ng-deep .dia_semana{
    width: 10px;
    height: 48px;

    border: none;
    border-radius: 10px 0 0 10px;
    margin-right: 8px;

    left: 0;
}
::ng-deep .indicador_dia_comum{
    background-color: #267780;
}
::ng-deep .indicador_dia_consulta{
    background-color: #FFFFFF;
}