input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

.modal_cadastro_overlay {
  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 50%;

  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;

  display: none;
}
.modal_cadastro{
  background-color: #fbfbfb;

  width: 60%;
  height: 60%;
  min-width: 300px;
  
  z-index: 20;
  position: fixed;
  top: 15%;
  left: 20%;

  border-radius: 2rem;
  border: solid 1px black;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.titulo_modal_cadastro{
  font-size: 28px;
  color: rgb(19, 16, 16);
  font-family: "Poppins";
  font-weight: normal;

  margin-top: 12px;
}
.formulario_adicionar_paciente{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.campo_formulario_acidionar{
  position: relative;

  margin-top: 10px;
}

input {
  width: 240px;
  height: 40px;

  font-size: 18px;
  color: black;
  font-family: "Poppins";
}

select {
  width: 240px;
  height: 40px;

  font-size: 18px;
  color: #3E3C3C;
  font-family: "Poppins";
}

option {
  width: 240px;
  height: 40px;

  font-size: 18px;
  color: #3E3C3C;
  font-family: "Poppins";
}

.campo_formulario_acidionar:focus-within::after{
  content:"";
  width: 100%;
  height: 2px;
  background: #189494;
  position: absolute;
  left:0px;
  bottom:0px;
  border: none
}

.botao_salvar{
  width: 240px;
  height: 36px;
  margin-top: 30px;

  font-size: 18px;
  font-family: "Poppins";
  color:#fbfbfb;

  border: 1px solid #00285C;
  border-radius: 12px;

  background: #189494;
  
  transition: background 0.2s;
}
.botao_salvar:hover{
  color:#3E3C3C;
  background: #fbfbfb;
}

.feedback_cadastro {
  width: 100%;
  height: 28px;
  content:"";

  display: flex;
  justify-content: center;

  font-size: 18px;
  color: black;
  font-family: "Poppins";
  font-weight: normal;

  margin: 28px 0 0 10px;
}

.closer{
  position: absolute;
  font-size: 24px;
  border: solid 1px black;
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  top: -10px;
  right: -10px;
  background: #189494;
  color: #fbfbfb;
}

.closer:hover{
  color: #189494;
  background: #fbfbfb;
  transition: background 0.5s;
}
